.dropdown {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dropdown-content {
    width: calc(100% - 8px);
    padding: 4px 8px;
    background: #585858;
    color: white;
    z-index: 1000;
    position: absolute;
    margin: 0;
    margin: 2px 0;
    border-radius: 2px;
}

.dropdown .dropdown-content > p {
    padding: 0.5vh 0;
    text-align: left;
    font-size: 1.25vw;
}