.game-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
}

.hidden {
    display: none;
}

.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}