.player-card {
    width: 15%;
    display: inline-block;
}

.player-card > img {
    width: 60%;
    padding-right: 20%;
    margin: 0 auto;
    cursor: pointer;
}

.player-card > p.name {
    margin: 0;
    padding: 2vh 0 0;
    color: gold;
    text-align: center;
    font-size: 2vw;
}

.player-card > p {
    padding-top: 0.5vh;
    color: lightgray;
    font-size: 2vw;
}

.player-card .streak {
    display: inline-flex;
    border-radius: 100%;
    border: 1px solid gold;
    background-color: red;
    color: white;
    font-size: 1.25vw;
    font-weight: bold;
    margin-left: -2.25vw;
    width: 2vw;
    height: 2vw;
    justify-content: center;
    align-items: center;
}