.player-card {
    width: 15%;
    display: inline-block;
}

.player-card > img {
    width: 60%;
    padding-right: 20%;
    margin: 0 auto;
    cursor: pointer;
}

.player-card > p.name {
    margin: 0;
    padding: 2vh 0 0;
    color: gold;
    text-align: center;
    font-size: 2vw;
}

.player-card > p {
    padding-top: 0.5vh;
    color: lightgray;
    font-size: 2vw;
}