.pregame {
    padding: 1vh 2vw;
    overflow: hidden;
    text-align: left;
}

.pregame-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.pregame .pregame-grid .footer {
    position: absolute;
    bottom: 0;
    left: 4vw;
    font-style: italic;
    color: rgb(184, 183, 183);
    font-size: 2vw;
    padding-top: 8vh;
    padding-left: 2vw;
}

@media only screen and (max-height: 400px) {
    .pregame .pregame-grid .footer {
        display: none;
    }
}

.header {
    display: block;
    padding: 8vh 2vw;
}

.header > img {
    width: 6vw;
    display: inline-block;
}

.header > h1 {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    font-size: 7vw;
    display: inline-block;
    padding-left: 2vw;
}

.header > h2 {
    font-family: 'Bangers', cursive;
    font-weight: normal;
    padding-left: 40%;
    padding-top: 0;
    margin: -1.5vh 0 0;
    font-size: 3vw;
    color: lightgray;
}

.pregame-grid .button-div {
    padding: 13vh 2vw 0;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    text-align: left;
}

.pregame-grid .standings-container {
    grid-column: 4 / 11;
    grid-row: 1 / 4;
}