.pregame {
    padding: 10px 24px;
    overflow: hidden;
}

.pregame-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    font-style: italic;
    color: rgb(184, 183, 183);
    font-size: 2vw;
    padding-top: 12vh;
    padding-left: 2vw;
}

.header {
    display: block;
    padding: 8vh 2vw;
}

.header > img {
    width: 6vw;
    display: inline-block;
}

.header > h1 {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    font-size: 7vw;
    display: inline-block;
    padding-left: 2vw;
}

.header > h2 {
    font-family: 'Bangers', cursive;
    font-weight: normal;
    padding-left: 40%;
    padding-top: 0;
    margin: -8px 0 0;
    font-size: 3vw;
    color: lightgray;
}

.pregame-grid .button-div {
    padding: 0 2vw 0;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.pregame-grid .standings-container {
    grid-column: 4 / 11;
    grid-row: 1 / 4;

}

.history {
    height: 60vh;
    background: darkgray;
    border: 2px solid white;
    border-radius: 8px;
    overflow-y: auto;
    color: black;
}

.history table {
    width: 100%;
    padding: 0 1vw;
}

.history .close {
    cursor: pointer;
    position: absolute;
    right: 28px;
    width: 3vw;
    padding: 1vh 0.5vw 0.5vh;
}

.history > h3 {
    text-align: center;
    font-weight: normal;
}

.history .record:hover {
    background: gold;
}

.history tr th {
    font-weight: normal;
    font-size: 2vw;
    color: rgb(43, 43, 43);
}

.history .record > td {
    padding: 2px 4px 2px;
    font-size: 1.5vw;
    text-align: center;
}

.history .record > td > a {
    text-decoration: none;
    color: darkslategray;
}

.history .record > td > a:hover {
    text-decoration: none;
}