.record {
    cursor: pointer;
}

.record > td {
    padding: 2px 4px 2px;
    font-size: 1.5vw;
    text-align: center;
}

.record > td > a {
    text-decoration: none;
    color: darkslategray;
}

.record > td > a:hover {
    text-decoration: none;
}

.record > td > a.dead-link {
    cursor: default;
    color: rgba(0, 0, 0, 0.767);
}

.entry .guesses {
    text-align: center;
    color: #ebebeb;
    background-color: #424242;
}

.entry .guesses td {
    padding-bottom: 4px;
}

.entry .guesses span {
    font-size: 1.5vw;
}

.entry .guesses .guess-row {
    padding-right: 0.25vw;
}

.entry .guesses .guess-row:last-child {
    padding-right: 0;
}

.entry .guesses .guess-row .guesser {
    color: #e1e1e1bd;
}

.entry .guesses .guess-row .guess {
    font-weight: 300;
}